{% extends 'base.html' %}

{% block content %}
<h2>All recent operations appear here</h2>
<table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col"><center>Fruit Name</center></th>
        <th scope="col"><center>Start Date</center></th>
        <th scope="col"><center>End Date</center></th>
        <th scope="col"><center>Graph</center></th>
          <th scope="col"><center>Data</center></th>
      </tr>
    </thead>
    {% for item in items %}
    <tr>
      <td><center>{{item.fruit}}</center></td>
      <td><center>{{item.start_date}}</center></td>
      <td><center>{{item.end_date}}</center></td>
      <td><center><a href="{%url 'MonitorCollectiveImageUrl' item.id%}">Graph</a></center></td>
      <td><center><a href="{%url 'historyItemDataUrl' item.id%}">Data</a></center></td>


    </tr>
    {%endfor%}
</table>
{% endblock %}