{% extends 'base.html' %}

{% block title %}
Homepage
{% endblock %}

{% block content %}
  <form method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary">Start Warehouse!</button>
  </form>
  {% if notKeepable %}
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="alert-heading">Too much days for storage :(</h4>
      <p>You can store {{fruit}} only for {{expectedDays}}. You are exceeding the storage time by {{diff}} days.</p>
      <hr>
      <p class="mb-0">Please try to store fruit within {{expectedDays}} days to keep things fresh</p>
    </div>
  {% endif %}

{% endblock %}