<!DOCTYPE html>
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>

   <!--- basic page needs
   ================================================== -->
   <meta charset="utf-8">
	<title>Smart Fruit Warehouse Monitoring System</title>
	<meta name="description" content="">  
	<meta name="author" content="">

   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="css/base.css">
   <link rel="stylesheet" href="css/vendor.css">  
   <link rel="stylesheet" href="css/main.css">  

   <!-- script
   ================================================== -->
	<script src="js/modernizr.js"></script>
	<script src="js/pace.min.js"></script>

   <!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
   <header> 

		<a id="header-menu-trigger" href="#0">
		 	<span class="header-menu-text">Menu</span>
		  	<span class="header-menu-icon"></span>
		</a> 

		<nav id="menu-nav-wrap">

			<a href="#0" class="close-button" title="close"><span>Close</span></a>	

	   	<h3>Smart Fruit Warehouse Monitoring System</h3>  

			<ul class="nav-list">
				<li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
				<li><a class="smoothscroll" href="localhost:8000" title="">Start Warehouse</a></li>
				<li><a class="smoothscroll" href="#about" title="">About Us</a></li>
				<li><a class="smoothscroll" href="#services" title="">Project Idea</a></li>
				<li><a class="smoothscroll" href="#portfolio" title="">Images and Working</a></li>						
			</ul>	

						

			<ul class="header-social-list">
	        
	         <li>
	         	<a href="https://github.com/anuragshukla06/Web_Interface"><i class="fa fa-github"> Github link to our project!</i></a>
	         </li>
	                
	      </ul>		

		</nav>  

	</header>  


   <!-- home
   ================================================== -->
   <section id="home">

   	<div class="overlay"></div>

   	<div class="home-content-table">	
		   <div class="home-content-tablecell">
		   	<div class="row">
		   		<div class="col-twelve">		   			
			  		
			  				<h3 class="animate-intro">Our Project is</h3>
				  			<h1 class="animate-intro">
							Smart Fruit Warehouse <br>
							Monitoring System 
				  			</h1>	

				  			<div class="more animate-intro">
				  				<a class="smoothscroll button stroke" href="#about">
				  					See More
				  				</a>
				  			</div>							

			  		</div> <!-- end col-twelve --> 
		   	</div> <!-- end row --> 
		   </div> <!-- end home-content-tablecell --> 		   
		</div> <!-- end home-content-table -->

		<div class="scrolldown">
			<a href="#about" class="scroll-icon smoothscroll">		
		   	Scroll Down		   	
		   	<i class="fa fa-long-arrow-right" aria-hidden="true"></i>
			</a>
		</div>			
   
   </section> <!-- end home -->


   <!-- about
   ================================================== -->
   <section id="about">

   	<div class="row about-wrap">
   		<div class="col-full">

   			<div class="about-profile-bg"></div>

				<div class="intro">
					<h3 class="animate-this">About Us</h3>
	   			<p class="lead animate-this"><span>We Are</span> students of 4th semester, CSE branch , Dr.SPM International Institute of Information Technology, Naya Raipur. As a part of our Mini Project under Dr.Venkanna U. , we have designed an Automated Centralised Controlling and Monitoring System (Smart Warehouse) for ensuring optimal storage of Fruits inside the Warehouse.</p>	
				</div>   

   		</div> <!-- end col-full  -->
   	</div> <!-- end about-wrap  -->

   </section> <!-- end about -->


   <!-- about
   ================================================== -->
   <section id="services">

   	<div class="overlay"></div>
   	<div class="gradient-overlay"></div>
   	
   	<div class="row narrow section-intro with-bottom-sep animate-this">
   		<div class="col-full">
   			
   				<h3>OUR PROJECT</h3>
   			   <h1>IDEA</h1>
   			
   			   <p class="lead">A fruit warehouse is a place where fresh fruits are stored efficiently at specific temperatures, humidity and other parameters that help in preserving the fruits without over-ripening them.
Internet of Things (IoT) is an ecosystem of connected physical objects that are accessible through the internet.
 We would be able to track and count everything, and greatly reduce   waste, loss and cost.
 We would know when things need replacing, repairing or recalling, and  whether they are fresh or past their best.
</p>
   			
   	   </div> <!-- end col-full -->
   	</div> <!-- end row -->

   	<div class="row services-content">

   		<div class="services-list block-1-2 block-tab-full group">

	      	<div class="bgrid service-item animate-this">	

	      		<span class="icon"><i class="icon-paint-brush"></i></span>            

	            <div class="service-content">
	            	<h3 class="h05">MOTIVATION</h3>
	            	<ul>
	            		<li>About 18% of fruits and vegetables are wasted every year in India due to lack of warehouses.</li>

<li>Traditional monitoring and control systems are completely manual hence are erroneous.</li>

<li>The absence of proper monitoring, controlling and warning systems leads to degradation in quality of
fruits.</li>

<li>Consequently, we need an automated and centralized monitoring and control system to ensure
optimal storage of fruits.</li>
</ul>   	         		
	         	</div> 	         	 

				</div> <!-- end bgrid -->

				<div class="bgrid service-item animate-this">	

					<span class="icon"><i class="icon-earth"></i></span>                          

	            <div class="service-content">	
	            	<h3 class="h05">PROBLEMS IN EXISTING WAREHOUSES</h3>
	            	<ul>
	            		<li>Manual control of parameters like temperature, humidity values.</li>

<li>No centralised monitoring of environment variables.</li>

<li>
Maintaining track of freshness level of seasonal fruits.</li>

<li>No provision for global control.</li>
</ul>         		
	            </div>	                          

			   </div> <!-- end bgrid -->

			   <div class="bgrid service-item animate-this">

			   	<span class="icon"><i class="icon-lego-block"></i></span>		            

	            <div class="service-content">
	            	<h3 class="h05">PROPOSED SOLUTION</h3>
	            	<ul>
	            		<li>Each sensor node consists of temperature, humidity and light sensors along with a microcontroller.</li>

<li>Microcontroller receives respective values from each of the sensors and sends it to cloud storage.</li>

<li>Many such sensor nodes are deployed in the warehouse at various positions to record and send the
data.</li>

<li>Data received at the cloud storage is analysed on a central monitoring node which then sends the
optimal values of those parameters to the environment controlling system.</li>

<li>The central monitoring node also regulates emergency signals along with providing global
monitoring and control of the above parameters.</li>
</ul>         
	            </div> 	            	               

			   </div> <!-- end bgrid -->

				<div class="bgrid service-item animate-this">

					<span class="icon"><i class="icon-megaphone"></i></span>	              

	            <div class="service-content">
	            	<h3 class="h05">BACKGROUND PROCESSES</h3>
<ul>
		            <li>Sensors record environment parameters in real time.</li>

<li>Send them to the microcontroller.</li>

<li>Central monitoring node fetches the data from the cloud, makes it visualizable and display it on the
website.</li>

<li>Monitoring node also sends the optimum environment parameter values to the temperature and
humidity controlling system of the warehouse.</li>

<li>In our prototype, CPU fan maintains the temperature values provided by the monitoring node,
analogous to already existing refrigeration systems in warehouses.</li>   
</ul>   		
	            </div>                

				</div> <!-- end bgrid -->			   

	      </div> <!-- end services-list -->
   		
   	</div> <!-- end services-content -->   			

   </section> <!-- end services -->


   <!-- portfolio
   ================================================== -->
   <section id="portfolio">
   	
   	<div class="intro-wrap">

   		<div class="row narrow section-intro with-bottom-sep animate-this">
	   		<div class="col-twelve">
	   			<h3>RELATED IMAGES AND VIDEOS</h3>
		   		<h1>OF OUR PROJECT</h1>  			
		   		
		   		<p class="lead">We created a warehousing system, the environment of which can be
controlled and monitored online, eliminating the need of physical
presence.</p>	   			
	   		</div>   		
	   	</div> <!-- end row section-intro -->   		

   	</div> <!-- end intro-wrap -->   	

   	<div class="row portfolio-content">
   		<div class="col-twelve">
   			<div class="fluid-video-wrapper">
   				<video width="100%" height="480" frameborder="2" webkitallowfullscreen mozallowfullscreen allowfullscreen controls>
    <source src="images/FINAL.mp4" type="video/mp4">
</video>
               <!-- <iframe src="images/viva.mp4" width="100%" height="480" frameborder="2" webkitallowfullscreen mozallowfullscreen allowfullscreen autoplay=false></iframe>  -->
            </div>
   			<div id="folio-wrap" class="bricks-wrapper">

   			<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="images/graph7.png" data-sub-html="#01"> 	
	                  <a href="#" class="overlay">
	                  	<img src="images/graph7.png" alt="Shutterbug">	                     
	                     <div class="item-text">
	                     	<span class="folio-types">
		     					      Photo-1
		     					   </span>
		     					   <h3 class="folio-title">System Design</h3>  	     					   
		     					</div>                                        
	                  </a>
	                  <a href="https://www.behance.net/" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="01" class='hide'>
							<h4>System Design</h4>
						</div>	               
	        		</div> <!-- end folio-item -->
	        		<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="images/graph8.png" data-sub-html="#02"> 	
	                  <a href="#" class="overlay">
	                  	<img src="images/graph8.png" alt="Shutterbug">	                     
	                     <div class="item-text">
	                     	<span class="folio-types">
		     					      Photo-2
		     					   </span>
		     					   <h3 class="folio-title">Schematic Diagram</h3>  	     					   
		     					</div>                                        
	                  </a>
	                  <a href="https://www.behance.net/" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="02" class='hide'>
							<h4>Schematic Diagram</h4>
							<!-- <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit.</p> -->
						</div>	               
	        		</div> <!-- end folio-item -->					

   				<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="images/graph2.jpg" data-sub-html="#03" > 	
	                  <a href="#" class="overlay">
	                  	<img src="images/graph2.jpg" alt="Skaterboy">	                     
	                     <div class="item-text">
	                     	<span class="folio-types">
		     					      Photo-3
		     					   </span>
		     					   <h3 class="folio-title">Sensor Node</h3>	     					   
		     					</div>                                        
	                  </a>
	                  <a href="https://www.behance.net/" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->
						
						<div id="03" class='hide'>
							<h4>Sensor Node</h4>
							<!-- <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit.</p> -->
						</div>
	        		</div> <!-- end folio-item -->

	        		<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="images/graph3.jpg" data-sub-html="#04"> 	
	                  <a href="#" class="overlay">
	                  	<img src="images/graph3.jpg" alt="Shutterbug">	                     
	                     <div class="item-text">
	                     	<span class="folio-types">
		     					      Photo-4
		     					   </span>
		     					   <h3 class="folio-title">Hardware & Software Integration</h3>  	     					   
		     					</div>                                        
	                  </a>
	                  <a href="https://www.behance.net/" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="04" class='hide'>
							<h4>Hardware & Software Integration</h4>
							<!-- <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit.</p> -->
						</div>	               
	        		</div> <!-- end folio-item -->

	        		<div class="brick folio-item">
	               <div class="item-wrap animate-this" data-src="images/graph1.png" data-sub-html="#05" >   	
	                  <a href="#" class="overlay">
	                  	<img src="images/graph1.png" alt="Explore">	                     
	                     <div class="item-text">	                     		     					    
		     					   <span class="folio-types">
		     					      Photo-5
		     					   </span>
		     					   <h3 class="folio-title">Monitor Page</h3>
		     					</div>                                        
	                  </a>
	                  <a href="https://www.behance.net/" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->	

	               <div id="05" class='hide'>
							<h4>Monitor Page</h4>
							<!-- <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit.</p> -->
						</div>               
	        		</div> <!-- end folio-item -->

					<div class="brick folio-item">
	               <div class="item-wrap animate-this"  data-src="images/graph4.png"  data-sub-html="#06" >
	                  <a href="#" class="overlay">
	                  	<img src="images/graph4.png" alt="Minimalismo">	                     
	                     <div class="item-text">	     					    
		     					   <span class="folio-types">
		     					      Photo-6
		     					   </span>
		     					   <h3 class="folio-title">How our Centralised System looks!</h3>
		     					</div>                                        
	                  </a>
	                  <a href="https://www.behance.net/" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="06" class='hide'>
							<h4>How our Centralised System looks!</h4>
							<!-- <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit.</p> -->
						</div>  	               
	        		</div> <!-- end folio-item -->

					<div class="brick folio-item">
	               <div class="item-wrap animate-this"  data-src="images/graph5.png"  data-sub-html="#07" >  	
	                  <a href="#" class="overlay">
	                  	<img src="images/graph5.png" alt="Bicycle">	                     
	                     <div class="item-text">	     					    
		     					   <span class="folio-types">
		     					      Photo-7
		     					   </span>
		     					   <h3 class="folio-title">Confirmation Message Page</h3>
		     					</div>                                        
	                  </a>
	                  <a href="https://www.behance.net/" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="07" class='hide'>
							<h4>Confirmation Message Page</h4>
							<!-- <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit.</p> -->
						</div>	               
	        		</div> <!-- end folio-item -->
	           
					<div class="brick folio-item">
	               <div class="item-wrap animate-this"  data-src="images/graph6.png"  data-sub-html="#08">     	
	                  <a href="#" class="overlay">
	                  	<img src="images/graph6.png" alt="Salad">	                     
	                     <div class="item-text">	     					    
		     					   <span class="folio-types">
		     					      Photo-8
		     					   </span>
		     					   <h3 class="folio-title">Control Page</h3>
		     					</div>                                        
	                  </a>
	                  <a href="https://www.behance.net/" class='details-link' title="details">
	                  	<i class="icon-link"></i>
	                  </a>
	               </div> <!-- end item-wrap -->

	               <div id="08" class='hide'>
							<h4>Control Page</h4>
							<!-- <p>Lorem ipsum Dolor deserunt labore sint officia. Magna et aute enim proident tempor sunt quis nulla voluptate fugiat velit. <a href="www.behance.net">Details</a></p> -->
						</div>	               
	        		</div> <!-- end folio-item --> 

	        		<!-- <h3>Responsive video</h3> -->
	      
   			</div> <!-- end folio-wrap -->
   		</div> <!-- end twelve -->
   	</div> <!-- end portfolio-content -->   	

   </section>  <!-- end portfolio -->


   <!-- Testimonials Section
   ================================================== -->
   <section id="testimonials">

   	<div class="row">
   		<div class="col-twelve">
   			<h2 class="animate-this">Our Team</h2>
   		</div>   		
   	</div>   	

      <div class="row flex-container">
    
         <div id="testimonial-slider" class="flex-slider animate-this">

            <ul class="slides">

               <li>
                  <p>Student Of B-Tech , 2nd year ,CSE-branch of IIIT-NR</p>

                  <div class="testimonial-author">
                    	<img src="images/my.jpg" alt="Author image">
                    	<div class="author-info">
                    		Gazal Jain
                    		<span class="position">Email : gazal17100@iiitnr.edu.in
                    		<br>Contact : 9340435946</span>
                    	</div>
                  </div>                 
             	</li> <!-- end slide -->

               <li>
                 <p>Student Of B-Tech , 2nd year ,CSE-branch of IIIT-NR</p>

               	<div class="testimonial-author">
                    	<img src="images/second.png" alt="Author image">
                    	<div class="author-info">
                    		Anurag Shukla
                    		<span>Email : anurag17100@iiitnr.edu.in
                    		<br>Contact : 9399151865</span>
                    	</div>
                  </div>                                         
               </li> <!-- end slide -->

               	<li>
                 <p>Student Of B-Tech , 2nd year ,CSE-branch of IIIT-NR</p>
                  <div class="testimonial-author">
                    	<img src="images/kav.jpg" alt="Author image">
                    	<div class="author-info">
                    		Kavyansh Chourasia

                    		<span class="position">Email : kavyansh17100@iiitnr.edu.in
                    		<br>Contact : 7999435373</span>
                    	</div>
                  </div>                 
             	</li> <!-- end slide -->
            </ul> <!-- end slides -->

         </div> <!-- end testimonial-slider -->         
        
      </div> <!-- end flex-container -->

   </section> <!-- end testimonials -->


	
   <!-- Java Script
   ================================================== --> 
   <script src="js/jquery-2.1.3.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/main.js"></script>

</body>

</html>
